@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  margin:0;
  padding: 0;
  background-color: #0896b5;
}

.header{
  color: #00426d;
  background-color: #ffe665;
  width: 100vw;
  height:5vh;
  padding: 20px 0;
  text-align: center;
  font-family: 'Playwrite PL';
  font-size: x-large;
  font-weight:bold;
}

.input-todo{
  color: white;
  padding: 20px;
  font-family: 'Poppins';

  h3{
    text-decoration: underline;
  }

  form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 33vw;

    label{
      font-size: 20px;
    }

    input,textarea{
      border-radius: 5px;
      font-size: 16px;
      padding: 5px;
    }

    h4{
      color: red;
    }

    button{
      width:15vw;
      margin: auto;
      padding: 10px;
      border-radius: 5px;
      border: 2px #00426d solid;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 18px;
      color: white;
      background-color: #ffe665;
      cursor: pointer;
      transition-property: background,color,;
      transition-duration:0.5s;
      transition-timing-function: ease-in;

      &:hover{
        color: #ffe665;
        background-color: white;
        
      }
    }
  }
}

#todo-display{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;

  .todo{
    background-color: #ffe665;
    color: #00426d;
    padding: 10px;
    width: 250px;
    box-shadow: #00426d 3px 3px;

    .todo-header{
      display: flex;
      align-items: center;
      justify-content: space-between; 

      h3{
        max-width: 150px;
        word-wrap: break-word;
      } /* prevent title from pushing icons outside the todo and overflowing */

      img{
        margin: 5px;
        &:hover{
          cursor: pointer;
        }
      }
    }

    p{
      max-width: 250px;
      word-wrap: break-word;
    } /*prevent details from overflowing the todo*/
  }
}

#edit-todo{
  width:100vw;
  height:80vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center
}